<article>
  <div class="hero_image_teaser pull-left img-responsive" style="background-image: url('<%= article_small.image_url %>');">
    &nbsp;
  </div>

  <div class="text">
    <p class="small-paragraph"><%= article_small.sub_title %></p>
    <h3><%= link_to article_small.title, "blog/#{article_small.friendly_id}" %></h3>
    <p>by <%= display_article_authors(article_small) %></p>
    <p><%= render_teaser(article_small).html_safe %></p>
    <h3><small><%= link_to "read more... ", "blog/#{article_small.friendly_id}" %></small></h3>
  </div>
  <div class="clearfix"></div>
</article>
